# fly.toml app configuration file generated for v4-soulectiontracklists-com on 2024-02-06T22:32:23+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'v4-soulectiontracklists-com'
primary_region = 'ewr'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512

[env]
  BASE_URL = 'https://v4.soulection.com'

[checks]
  [checks.http]
    grace_period = "30s"
    method = "GET"
    path = "/"
    interval = "60s"
    timeout = "10s"
    type = "http"
    port = 3000
