@tailwind base;
@tailwind components;
@font-face {
  font-family: 'Conthrax SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Conthrax SemiBold'), url('~assets/fonts/conthrax-sb.woff') format('woff');
}
@tailwind utilities;
@layer utilities {
  @variants dark {
    .filter-none {
      filter: none;
    }
    .filter-grayscale {
      filter: grayscale(100%);
    }
  }
}

.prose a.site-button {
  color: #fff !important;
  text-decoration: none;
}


.ease-out-overlay-enter-active,
.ease-out-overlay-leave-active {
  @apply opacity-100 duration-300;
}

.ease-out-overlay-enter, .ease-out-overlay-leave-to /* .fade-leave-active below version 2.1.8 */ {
  @apply opacity-0 duration-200;
}

.ease-out-modal-enter-active,
.ease-out-modal-leave-active {
  @apply opacity-100 translate-y-0 sm:scale-100 duration-300;
}

.ease-out-modal-enter, .ease-out-modal-leave-to /* .fade-leave-active below version 2.1.8 */ {
  @apply ease-in opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95 duration-200;
}
